  .fa-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; 
    flex-flow: row wrap;
    justify-content: center; 
    padding: 20px;
  }

 .fa {
    font-size: 20px;
    display: block;
    padding: 15px;
    height: 20px;
    width: 20px;
    text-align: center;
    text-decoration: none;
    margin: 4px 2px;
    border-radius: 50%;
  }
  
  .fa:hover {
    opacity: 0.7;
  }
  
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }
  
  .fa-linkedin {
    background: #007bb5;
    color: white;
  }
  
  .fa-youtube {
    background: #bb0000;
    color: white;
  }
  
  .fa-rss {
    background: #ff6600;
    color: white;
  }

  .fa-reddit {
    background: #ff5700;
    color: white;
  }

  .fa-github {
    background: #000000;
    color: white;
  }

  .fa-codepen {
    background: #af417d;
    color: white;
  }

  .fa-glitch {
    background: url(./assets/glitch_logo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
  }

  .fa-itch {
    background: url(./assets/itch_logo.png);
    background-size: cover;
    color: white;
  }