.fa-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; 
  flex-flow: row wrap;
  justify-content: center; 
  padding: 20px;
}

.fa {
  user-select: none;
  font-size: 30px;
  display: flex;
  justify-content: center;
  padding: 10px;
  height: 30px;
  width: 30px;
  text-decoration: none;
  margin: 2px 4px;
  border-radius: 50%;
  transition: all .05s ease-in-out; 
}

.fa:hover {
  transform: scale(1.25);
}

.fa-twitter {
  background: #55ACEE;
  background-image: url(./assets/twitter.svg);
  background-size: 35px 35px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  color: white;
}

.fa-mastodon {
  background-color: #dddddd;
  background-image: url(./assets/mastodon.svg);
  background-size: 30px 30px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  color: white;
}

.fa-linkedin {
  background: white;
/*   background: #007bb5; */
  background-image: url(./assets/linkedin.svg);
  background-size: 120px 120px;
  background-repeat: no-repeat;
  background-position: 10px 10px;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  background-image: url(./assets/youtube.svg);
  background-size: 32px 32px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  color: white;
}

.fa-rss {
  background: #ff6600;
  background-image: url(./assets/rss.svg);
  background-size: 30px 30px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  color: white;
}

.fa-reddit {
  background: #ff5700;
  background-image: url(./assets/reddit.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  color: white;
}

.fa-github {
  background: #6cc644;
  background-image: url(./assets/github.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  color: white;
}

.fa-codepen {
  background: #ae63e4;
  background-image: url(./assets/codepen.svg);
  background-size: 30px 30px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  color: white;
}

.fa-glitch {
  background-color: #ffaabf;
  background-image: url(./assets/glitch.svg);
  background-size: 30px 30px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  color: white;
}

.glitch-logo {
  width: 30px;
  height: 30px;
}

.fa-itch {
  background-color: red;
  background-image: url(./assets/itch.svg);
  background-size: 38px 38px;
  background-repeat: no-repeat;
  background-position: 8px 6px;
  color: white;
}

.fa-instructables {
  background-color: #DDDDDD;
  background-image: url(./assets/instructables.svg);
  background-size: 35px 35px;
  background-repeat: no-repeat;
  background-position: 10px 8px;
  color: white;
}

.fa-sketchfab {
  background-color: #1AAAD9;
  background-image: url(./assets/sketchfab.svg);
  background-size: 50px 50px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  color: white;
}