.icon {
  user-select: none;
  font-size: 30px;
  display: flex;
  justify-content: center;
  padding: 10px;
  height: 30px;
  width: 30px;
  text-decoration: none;
  margin: 4px 4px;
  border-radius: 50%;
  transition: all .05s ease-in-out; 
  color: white;
}

.icon:hover {
  transform: scale(1.25);
}

.icon-twitter {
  background: #55ACEE;
  background-image: url(./assets/twitter.svg);
  background-size: 35px 35px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.icon-mastodon {
  background-color: #dddddd;
  background-image: url(./assets/mastodon.svg);
  background-size: 30px 30px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.icon-linkedin {
  background: white;
  background-image: url(./assets/linkedin.svg);
  background-size: 120px 120px;
  background-repeat: no-repeat;
  background-position: 10px 10px;
}

.icon-youtube {
  background: #bb0000;
  background-image: url(./assets/youtube.svg);
  background-size: 32px 32px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.icon-rss {
  background: #ff6600;
  background-image: url(./assets/rss.svg);
  background-size: 30px 30px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.icon-reddit {
  background: #ff5700;
  background-image: url(./assets/reddit.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.icon-github {
  background: #6cc644;
  background-image: url(./assets/github.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.icon-codepen {
  background: #ae63e4;
  background-image: url(./assets/codepen.svg);
  background-size: 30px 30px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.icon-glitch {
  background-color: #ffaabf;
  background-image: url(./assets/glitch.svg);
  background-size: 30px 30px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.glitch-logo {
  width: 30px;
  height: 30px;
}

.icon-itch {
  background-color: red;
  background-image: url(./assets/itch.svg);
  background-size: 38px 38px;
  background-repeat: no-repeat;
  background-position: 8px 6px;
}

.icon-instructables {
  background-color: #DDDDDD;
  background-image: url(./assets/instructables.svg);
  background-size: 35px 35px;
  background-repeat: no-repeat;
  background-position: 10px 8px;
}

.icon-sketchfab {
  background-color: #1AAAD9;
  background-image: url(./assets/sketchfab.svg);
  background-size: 50px 50px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}