@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700&display=swap');

.dark {
  --bgColor: #050505;
  --partOpacity: 0.08;
  --color: #bababa;
  --link-color: DarkSeaGreen;
  --card-color: rgba(10, 10, 10, 0.7);
}

.light {
  --bgColor: #fcfcfc;
  --partOpacity: 0.1;
  --color: #212121;
  --link-color: DarkCyan;
  --card-color: rgba(240, 240, 240, 0.5);
}

html, body {
  padding: 0;
  border: 0;
  margin: 0;  
  height: 100%;
}

body {
  font-family: 'Verdana', sans-serif;
  background: var(--bgColor);
  color: var(--color);
}

a {
  color: var(--link-color);
}

p {
  margin-top: 8px;
  margin-bottom: 0;
  text-align: left;
  font-size: 1em;
}

h1 {
  font-family: 'Roboto Slab', serif;
  margin-top: 52px;
  margin-bottom: 24px;
  text-align: center;
  font-size: 2.6em;
}

h2 {
  font-family: 'Roboto Slab', serif;
  margin-top: 10px;
  margin-bottom: -8px;
  text-align: left;
  font-size: 1.6em;
}

h3 {
  margin-top: 10px;
  margin-bottom: 12px;
  text-align: left;
  font-size: 1em;
}

.posts > p {
  font-size: 0.8em;
  margin-bottom: 0;
}


.posts > a {
  font-size: 0.8em;
}

.posts {
  margin-top: 0;
  margin-bottom: 36px;
}

.posts > h3 {
  margin-top: 18px;
}


.subtitle {
  margin-bottom: 18px;
  text-align: center;
  font-size: 0.8em;
}

.welcome {
  display: flex;
  flex-direction: row; 
  margin-bottom: 18px;  
}

.headshot {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 20px;
  width: 120px;
  min-width: 120px;
  height: 120px;
  border-radius: 50%;
  background: url(./assets/head.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 75%;
}

.particles-container {
  z-index: -1000;
  pointer-events: none;
  padding: 0;
  border: 0;
  margin: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: paint(particles);
/* CSS Paint animation is janky for some reason - disabling for now
  animation: bg-anim 0.016s infinite; */
}

/* @property --paint-tick) {
  syntax: '<number>';
  initial-value: 0;
  inherits: false;
}

@keyframes bg-anim {
  0% { --paint-tick: 0 }
  100% { --paint-tick: 1000 }
} */

.card {
  display: flex;
  flex-direction: column; 
  align-items: center;  
  width: 100%;
  height: auto;
  min-height: 30px;
  width: 80%;
  max-width: 750px;
  border-radius: 18px;
  margin: 18px;
  background-color: var(--card-color);
}

.card-container {
  display: flex;
  flex-direction: column; 
  align-items: center;  
}

.hidden {
  display: none;
}

@media screen and (max-width: 560px) {
   
  .headshot {
    margin-top: 24px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .welcome {
    flex-direction: column;
  }
  
  .fa-container {
    margin-bottom: 14px;
  }
  
  .card {
    width: 100%;
    border-radius: 0;
  }
  
  .card > * {
    margin: 20px;
    margin-top: 0;
  }
  
  .card > h1 {
    margin-top: 20px;
  }
}