.dark {
  --bgColor: #212121;
  --partOpacity: 0.2;
}

.light {
  --bgColor: #fcfcfc;
  --partOpacity: 0.1;
}

html, body {
  padding: 0;
  border: 0;
  margin: 0;  
  height: 100%;
  font-family: Arial, sans-serif;
}

body {
  background: var(--bgColor);
}

.particles-container {
  z-index: -1000;
  pointer-events: none;
  padding: 0;
  border: 0;
  margin: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: paint(particles);
/*   animation: bg-anim 0.016s infinite; */
}

/* @property --paint-tick) {
  syntax: '<number>';
  initial-value: 0;
  inherits: false;
}

@keyframes bg-anim {
  0% { --paint-tick: 0 }
  100% { --paint-tick: 1000 }
} */

.card {
  width: 100%;
  height: 100%;
  display: none;
  padding: 20px;
  padding-top: 0;
  margin: auto;
}

.currentCard {
  display: flex;
  flex-direction: column; 
  align-items: center;  
  height: 100%;
  padding: 0;
}

.card-container {
  height: 100%;
  padding: 20px;
  padding-top: 10px;
}

.twitter-container {
  max-width: 520px;
  height: auto;
}

.itch-container {
  flex-direction: column; 
  align-items: center;  
} 

.itch-container > iframe {
  width: 100%;
  max-width: 552px;
  min-width: 240px;
  padding: 20px;
} 